body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Verdana", sans-serif;
  text-align: center;
  background: #E8E8E8;
}

body * {
  box-sizing: inherit;
}

header h1 {
  margin: 0;
}



body > div {
  width: 300px;
  border: 1px solid black;
  background-color: #222;
  margin: auto;
  color: #BBB;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  width: 100%;
}

td {
  width: 25%;
  height: 60px;
  font-size: 0.8em;
  padding: 0;
}

td:hover {
  background-color: #FFC60C;
  color: #222;
}

td:active, .active {
  background-color: #E5B20A;
  color: #222;
}

table tr:nth-of-type(2) td:last-of-type {
  height: 36px;
}

table tr:nth-of-type(6) td:last-of-type {
  background-color: #FFC60C;
  color: #222;
}

table tr:nth-of-type(6) td:last-of-type:hover {
  background-color: #FFC60C;
}

table tr:nth-of-type(6) td:last-of-type:active {
  background-color: #E5B20A;
}

textarea, input[type="text"] {
  width: 100%;
  background-color: #222;
  color: #BBB;
  font-size: 1.5em;
  text-align: right;
  vertical-align: bottom;
  outline: none;
  border-width: 0;
}

textarea {
  height: 160px;
  /*word-wrap: break-word;*/
  /*word-break: break-all;*/
  resize: none;
  overflow: auto;
  font-size: 1em;
}

input[type="text"] {
  border-width: 0 0 1px 0;
}

input[type="button"] {
  font-size: 1.1em;
  background-color: inherit;
  color: inherit;
  border: 0;
  text-align: center;
  width: 100%
}

input[type="button"]:focus {
  outline: none;
}

input[type="button"]:not([value="CLEAR"]):not([value="DEL"]) {
  font-size: 1.5em;
}

footer {
  position: fixed;
  bottom: 1em;
  text-align: center;
  font-size: 0.8em;
}